<?xml version="1.0"?>
<!--
/**
 * @package     Abhay/AccordionFaq
 * @version     1.0.0
 * @author      Abhay
 * @copyright   Copyright © 2021. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="accordionfaq" frontName="accordionfaq">
            <module name="Abhay_AccordionFaq"/>
        </route>
    </router>
</config>